.title{
    width: 100%;
    height: .44rem;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    p{
        width: 1.2rem;
        height: 100%;
        margin: 0 .3rem;
        text-align: center;
        line-height: .44rem;
        color: #999;
    }
    .active{
        color: #07b3ef;
        border-bottom: 5px solid #07b3ef;
    }
    
}
.titloe-pos{
    width: 100%;
    height: .44rem;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    position: fixed;
    top: 0;
    left: 0;
}
.number{
    margin:.2rem;
}





